* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

:root {
    --border: #eadda8;
    --navbg: #5C9DFF;
    --navcolor: white;
    --BG: #F9F9F9;
    --paraColor: #333;
    --subHeadings: #313d39;
    --authorBG: transparent;
}

nav {
    height: 10%;
    width: 100%;
    background-color: var(--navbg);
    color: var(--navcolor);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 23px;
}

main {
    display: flex;
    justify-content: center;
    min-height: 90vh;
    width: 100%;
    position: relative;
    background-color: (var(--BG));
}

.article-part p {
    color: var(--paraColor);
}

main .blog-part {
    width: 72%;
    height: 100%;
    border-right: 1px solid var(--border);
}

main .author-part {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 28%;
    height: 50vh;
}

main .blog-part {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    border-right: 1px solid var(--border);
    padding: 90px 12px 0;
}

.blog-part>div {
    width: 100%;
    border-bottom: 1px solid var(--border);

}

.blog-part .title-part {
    height: 18vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.blog-part .article-part {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* padding: 0 -20px; */
}

.blog-part>.title-part>div,
.blog-part>.article-part>div {
    width: 70%;
    height: 100%;
}

.title-part>div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1vw;
}

.blog-part .title-part div h2 {
    font-weight: 500;
    font-size: 1.5vw;
    width: 82%;
    color: var(--paraColor);
}

.title-part>div>.cont>span {
    font-size: 1vw;
    font-weight: 200;
    font-family: cursive;
}


.article-par>div {
    padding: 60px 0 0;
}

.article-part div p {
    /* font-size: 1vw; */
    width: 80%;
    line-height: 2;
    padding: 0 0 20px;
}

div>p:first-child::first-letter {
    font-size: 4vw;
    font-weight: 300;
    line-height: 1;
}

.sip-container {
    background-color: #8e8e8e;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    width: 90%;
    color: rgb(255, 255, 255);
}

.header {
    margin-bottom: 20px;
}

.header h2 {
    font-size: 1.2rem;
    margin: 0;
    /* font-weight: bold; */
    font-weight: 400;
}

.returns {
    font-size: 1rem;
    margin: 5px 0;
    font-weight: 500;
}

p.step-up {
    font-size: 0.9rem;
    color: #ccc;
    text-align: center;
}

.year-row {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
    border-bottom: 1px solid #444;
    padding-bottom: 10px;
}

.year {
    font-size: 10px;
}

.amount {
    font-size: 12px;
    /* font-weight: bold; */
}

.highlight {
    color: #00ff00;
}

li {
    margin: 0 0 22px 0;
}

strong {
    font-weight: 500;
}

h2#bheading {
    font-size: 20px;
    font-weight: 600;
    color: var(--subHeadings);
}

.article-part p {
    /* color: #1b1b1b; */
    font-size: 15px;
}

img {
    height: 300px;
    width: 100%;
    object-fit: cover;
    border: 1px solid var(--border);
    border-radius: 12px;
}

#aboutAuthor {
    color: rgb(35, 35, 35);
    padding: 15px 0 0;
    font-size: 12px;
}

.card {
    height: 350px;
    width: 70%;
    background-color: var(--authorBG);


}

.author-part {
    padding: 120px 5px;
}



.card h2 {
    border-bottom: 0.2px solid #EDEADE;
    font-size: 12px;
    width: 55%;
    font-weight: 400;
    margin-bottom: 22px;
    color: rgb(39, 39, 39);
    padding: 0 0 10px;
}

h3#name {
    font-size: 0.8vw;

    font-weight: 400;
    text-decoration: underline;
}

.card p {
    font-size: 8px;
    width: 50%;
    font-weight: 500;
}

strong {
    font-size: 16px;
}

p {
    font-size: 12px;
}



@media screen and (max-width: 1100px) {
    .article-part>#dv {
        width: 90%;
    }

    .title-part #tdv {
        width: 90%;
    }

    .title-part #tdv .cont span {
        font-size: 12px;
        font-weight: 400;
        font-family: 'poppins', sans-serif;
    }


    .title-part>#tdv>#h2 {
        font-size: 14px;
    }

    p#aboutAuthor {
        width: 100%;
    }

    .title-part>div {
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    main {
        flex-direction: column;
    }

    main>div.blog-part {
        width: 100%;
    }

    img {
        height: 20vh;
    }

    main .author-part {
        width: 100%;
    }

    main .author-part #name {
        font-size: 12px;
    }

    div>p:first-child::first-letter {
        font-size: 12vw;
        font-weight: 300;
        line-height: 1;
    }


}


h1 {
    font-size: 30px;
    font-weight: 700;
}

h2 {
    font-size: 24px;
    font-weight: 600;
}

h3 {
    font-size: 18px;
    font-weight: 500;
}

h4 {
    font-size: 15px;
    font-weight: 400;
}

h5 {
    font-size: 12pxpx;
    font-weight: 300;
}

h6 {
    font-size: 8px;
    font-weight: 300;
}

ul {
    padding: 0 24px;
    list-style: disc;
    /* Explicitly set bullet style for <ul> */
    font-size: 14px;
}

ol>ul {
    padding: 0 0 0 55px;
    font-size: 12px;
}

ul>ul {
    list-style-type: circle;
    font-size: 12px;
    padding: 0 0 0 25px;
}


ol.num {
    counter-reset: item;
    /* Reset numbering for the main <ol> */
}

ol.num>li {
    display: block;
    font-size: 15px;
    font-weight: 600;
}

ol.num>li:before {
    content: counters(item, ".") ".";
    /* Hierarchical numbering (e.g., 1, 1.1) */
    counter-increment: item;
}

ol,
ul {
    padding: 0 0 20px;
}

ol.sub-num {
    margin: 0;
    padding-left: 20px;
    counter-reset: sub-item;
    /* Use a different counter for nested <ol> */
}


ol.sub-num>li {
    display: block;
    font-size: 13px;
    font-weight: 500;
}


ol.sub-num>li:before {
    content: counters(item, ".") "." counter(sub-item) ". ";
    /* Nested numbering (e.g., 1.1, 1.2) */
    counter-increment: sub-item;
    /* Increment the sub-item counter */
}

p.subpara {
    margin: 0 0 0 20px;
    margin-bottom: 0;
    font-size: 12px;
}

p.subspara {
    font-size: 12px;
    margin-bottom: 0;
}

table {
    /* width: 60%; */
    width: 60vw;
    margin: 20px auto;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

span.spn {
    color: white;
    background: rgb(2, 16, 77);
    padding: 2px 5px;
    border-radius: 2px
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}

caption {
    font-size: 1.5em;
    margin: 10px 0;
    font-weight: bold;
}

ol {
    border-bottom: 1px solid rgb(106, 106, 106);
}

ol>ol {
    border-bottom: none;
}
